/* Variables
================================================================================ */

:root {
  --bg-primary-clr: white;
  --bg-secondary-clr: #bef0b1;
  --bg-highlight-clr: #f0b1e2;
  --txt-primary-clr: black;
  --txt-secondary-clr: darkslategray;

  --pad-amount: 1rem;
  --bord-radius: 0.5rem;
}

/* General Layout
================================================================================ */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Mobile-first layout: */
body {
  min-height: 100vh;

  display: grid;
  grid-template: auto 1fr auto / 1fr;
  grid-template-areas:
    "head"
    "main"
    "foot";
}

/* Header
================================================================================ */

header {
  background-color: var(--bg-secondary-clr);
  padding: var(--pad-amount);

  grid-area: head;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  padding: var(--pad-amount);
}

nav {
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.btn {
  padding: var(--pad-amount);
  text-decoration: none;
  cursor: pointer;
  color: var(--txt-primary-clr);

  border-radius: var(--bord-radius);
  background: #bef0b1;
  box-shadow:
    5px 5px 10px #a3ce98,
    -5px -5px 10px #d9ffca;
}

.btn:active {
  background: #bef0b1;
  box-shadow:
    inset 5px 5px 10px #a3ce98,
    inset -5px -5px 10px #d9ffca;
}

/* Main & Sidebar
================================================================================ */

main {
  background-color: var(--bg-primary-clr);
  grid-area: main;
}

/* Footer
================================================================================ */

footer {
  background-color: var(--bg-secondary-clr);
  grid-area: foot;
}

/* Media Queries
================================================================================ */

/* Other screen sizes (Bootstrap breakpoints): */
@media screen and (min-width: 768px) {
}
